[*.csproj]

indent_style = space
indent_size = 4

[*.cs]

indent_style = space
indent_size = 4

dotnet_analyzer_diagnostic.severity = error

# IDE0003 and IDE0009: this and Me preferences
dotnet_style_qualification_for_field = true
dotnet_style_qualification_for_property = true
dotnet_style_qualification_for_event = true
dotnet_style_qualification_for_method = true

# IDE0130: Namespace does not match folder structure
dotnet_style_namespace_match_folder = false

# IDE0160 and IDE0161: Namespace declaration preferences
csharp_style_namespace_declarations = file_scoped

# CA1002: Do not expose generic lists
dotnet_diagnostic.CA1002.severity = none

# CA5394: Do not use insecure randomness
dotnet_diagnostic.CA5394.severity = none

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# IDE0305: Use collection expression for fluent
dotnet_diagnostic.IDE0305.severity = none

dotnet_diagnostic.IDE0004.severity = suggestion
dotnet_diagnostic.IDE0044.severity = suggestion
dotnet_diagnostic.IDE0045.severity = suggestion
dotnet_diagnostic.IDE0046.severity = suggestion
dotnet_diagnostic.IDE0047.severity = suggestion
dotnet_diagnostic.IDE0048.severity = suggestion
dotnet_diagnostic.IDE0051.severity = suggestion
dotnet_diagnostic.IDE0052.severity = suggestion
dotnet_diagnostic.IDE0059.severity = suggestion

dotnet_diagnostic.CA1823.severity = suggestion

dotnet_diagnostic.CS0219.severity = suggestion
dotnet_diagnostic.CS0649.severity = suggestion
dotnet_diagnostic.CS1591.severity = none

dotnet_sort_system_directives_first = false
csharp_new_line_before_open_brace = none
csharp_new_line_before_else = false
